<nav class="navbar bg-dark">
    <h1 style="color: white;">Perguntas</h1>
    <a class ="navbar-brand" href="/">
        
        <img src="/img/punpun.png" alt="imagem da navbar Punpun">
    </a>
    
</nav>