<%- include('./partials/head.ejs')%>
<body>  
    <%- include('./partials/navbar.ejs')%>
    
    <div class="container">

        <div id="Card" class="card">
            <div class = "card-header">
                <h3>Perguntas</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/answerMyquestion">
                    <label>titulo</label>
                    <input name = "tittle" type="text" placeholder="Texto pergunta" class="form-control">
                    <label>Pergunta</label>
                    <textarea name="description" id="TextoPergunta" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary">Save</button>
                </form>    
            </div>
            
        </div>
        
    </div>   
    
</body>
<%- include('./partials/footer.ejs')%>